@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-art-green: #1A3C34;
  --color-art-cream: #F2E8DC;
  --color-art-gold: #C5A065;
  --color-art-charcoal: #2D2D2D;
  --color-art-red: #8B2635;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-art-cream text-art-charcoal font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-art-green;
  }
}